@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
h1{
    font-family: Angkor;
    text-align: center;
    font-size: 40px;
    color: rgb(185, 213, 185);
}

body{
    background-image: url(/Day027/images/GOA-PIC2.jpg);
}


h2,p,button{
    color:rgb(185, 213, 185);
   
}

#button-1{
    background-color: rgb(228, 213, 213);
    color:rgb(3, 57, 3);
}

h3{
    color:white;
}

form{
    color:white;
}