*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: sans-serif;
    height:100vh;
}

header{
    display:flex;
    justify-content: space-evenly;
    background-color:#fff;
    box-shadow:10px 10px 20px black;
    padding:20px 30px;
    
}

header p{
    font-size:1.5rem;
    font-weight:bold;
    letter-spacing:4px;
    margin:5px;
    padding:5px;
}
header p:nth-of-type(1){
    color:aquamarine;
}

main{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:91vh;
    background-color:greenyellow;
}

main p{
    margin:10px;
    padding:10px;
    font-size:2rem;
    font-weight:bold;
    background-color:#333 ;
    border-radius:5px;
    color:#fff;

}

main button{
    margin:20px;
    padding:20px  30px;
    border-radius:10px;
    border:1px solif #333;

    background:transparent;
    font-size:1.2rem;
    margin-top:50px;
    transition:0.5s;
}

main button:hover{
    background-color: aquamarine;
    color:#fff;
    cursor:pointer;
}