.Log-in{
    color:white;
    background-color: rgb(52, 52, 192) ;
}

.Create-account{
    color:white;
    background-color: green;
}

h1{
    color: rgb(52, 52, 192) ;
}

#Sign-Up{
    color:white;
    background-color: green;
}