*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    height:100vh;
}

input{
    width:400px;
    height:49px;
    border-radius:3px;
    padding-left:10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
    
}