.container{
    /* grid-ის გამოყენებით შესაძლებელი ox,oy,oz ღერძებზე ელემენტების განლაგება */
    /* გამოიყენება მშობელ ელემენტზე , რათა შვილებზე იმოქმედოს */
    display:grid;
    
    /* ჰორიზონტალური ხაზების შექმნისთის */
    /* კონეინერი დაიხლიჩება ჰორიზონტალურადაც (5) ნაწილად, სადაც თითოეული 'ელემენტის' სიდიდე(სიგრძე-სიგანე) იქნება 100px */
    grid-template-rows:100px 100px 100px 100px 100px ;  /*კიდევ ერთი row დაემატა და ჰორიზონტალურად გვექნება 4 ცალი ნახლეჩი */

    /* შეგვიზლია გადავცეთ fr-ებიც */
    /* grid-template-columns: repeat(5,fr); /*5-ჯერ გაიმეორებს frებს */

    /* ვერტიკალური ხაზების შექმნისთის */
    /* ჩვენი კონტეინერი დაიხლიჩება ხუად ( ხუთი ვერიკალური ხაზი გვექნება) , რომლის სიდიდე(სიგრძე-სიგანე) იქნება 100 PX */
    grid-template-columns:100px 100px 100px 100px 100px; 


    border:1px solid black;

}

.item{
    /* width:100px;
    height:100px; */
    background-color:red;
    margin:5px;
}


.item1{
    /* კონკრეტული აითემის სასურველ ადგილას გადატანა */
    
    /* რომელი ჰორიზონტალური ხაზიდან დაიწყოს ( ანუ რომელ row-ზე გადახტეს) ეს ჩვენი აითემი */
    grid-row-start:3; /*მესმამე ჰორიზონტალურ ხაზზე გადმოხტება */

    /*რომელ ჰორიზონტალურ ხაზზე გაჩერდეს */
    grid-row-end:span 4; /*4-ამდე არის.... 

    როცა end-ში ვუთითებთ span-ს
    span- დაწყება , რასაც startში მივუთითებთ და დასრულდება 4 ცალი აითემის დაკავეით- ამ შემთხვევაში დაიწყება მე-3 ჰორზ ხაზიდან და დაიკავებს 4 ცალ აითემის ადგილს

    /*რომელი ვერტიკალური ხაზიდან დაიწყოს 'შევსება'( ანუ რომელ ვერტიკალურ ხაზზე გადახტეს აითემი) */
    grid-column-start:3; /*მესამე ვერტიკალურ ხაზზე გადახტება აითემი(შუაში იქნება) */
 
    /* რომელ ვერტიკალურ ხაზზე დასრულდეს */
    grid-column-end:5;  /*მე-5-მდე იქნეა, ანუ 4 ც ვერტიკალური ხაზის ჩთ */
}