.inspiration{
    color:blue;
}

p{
    color:red;
}

.join{
    color:#008000;
}

#GOA{
    color:rgb(225,225,225);
    
}

.img{
    width:50%;
    height: 200px;

}

.greeting{
    font-size:100px;
}