*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:black;
}

/* login div */
.login{
    
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    border:3px solid red;
    border-radius:10px;
    width:450px;
    height:490px;
    padding:20px 20px;
    padding-top:-50px;
    box-shadow: 0px 0px 25px red;
    padding-left:50px;
    display:none;
}

/* login form */
.loginForm{
    margin-top:10px;
    
}

.Loginh1{
    font-size:43px;
    /* margin-left:-220px; */
    margin-top:20px;
    color:#fff;
    

}


.login input{
    width:350px;
    height:60px;
    border-radius:5px;
    margin-top:24px;
    font-size:18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left:10px;
    font-weight:515;
    border:1px solid red;
    box-shadow: 0px 0px 25px red;
}

#logButton{
    width:150px;
    height:46px;
    border-radius:6px;

    margin-top:40px;
    margin-left:90px;
    transition:0.9s;
}

#logButton:hover{
    background-color: rgb(0, 0, 143);
    cursor:pointer;
}
.registrationSign{
    color:#fff;
    font-size:18px;
    margin-top:50px;
    /* margin-left:-80px; */
    margin-left:20px;
}


/* Registration */
.Registration{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    border:3px solid red;
    border-radius:10px;
    width:480px;
    height:510px;
    padding:20px 20px;
    padding-top:-50px;
    box-shadow: 0px 0px 25px red;
}

.regh1{
    margin-left:00px;
    font-size:35px;
    margin-right:130px;
    margin-top:20px;
    color:#fff;
}

.RegistrationForm{
    margin-top:10px;
    margin-left: 0px;
}

.RegistrationForm input{
    width:350px;
    height:60px;
    border-radius:5px;
    margin-top:24px;
    font-size:18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left:10px;
    font-weight:515;
    border:1px solid red;
    box-shadow: 0px 0px 25px red;
}

#regbutton{
    width:150px;
    margin-left:100px;
    margin-top:40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition: 0.9s;
}


#regbutton:hover{
    cursor:pointer;
    background-color: rgb(1, 1, 113);
}

/* registered successfully  page */
.successfullyReg{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    display:none;
}
.successfullyRegh1{
    color:rgb(0, 138, 0);
    text-shadow: 0px 0px 25px green;
    font-size:60px;
    margin-left:30px;
}

.successfullyRegh3{
    color:#fff;
    margin-top:30px;
    margin-left:300px;
    font-size:20px;
}

/* account page div */
.accountPage{
    display:flex;
    gap:10px;
    margin-top:-600px;
    margin-left:650px;
    display:none;
}

#exitBtn{
    width:80px;
    height:36px;
    border-radius:6px;
    font-size:18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(4, 4, 124);
    color:#fff;
    transition:0.9s;
}

#exitBtn:hover{
    background-color: red;
    cursor:pointer;

}


#wrongCombination ,#wrongUser , #wrongPassword{
    margin-top:20px; 
    color:green; 
    font-size:18px;
    text-shadow: 0px 0px 25px green; 
    display:none
}

