table{
    border-collapse: collapse;

}

td,th{
    border:3px solid aquamarine;
    padding:10px;
    text-align:center;
}

div{
    width: 600px;
    height:450px;
    background-color:aquamarine;
    align-items: center;

}


tr{
    border-bottom:4px solid white;
}

h2{
    color:white;
}