*{
    margin:0;
    padding:0;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

.form{
    display:flex;
    flex-direction:column;
    gap:10p;
    background-color:#000;
    padding:20px;
    border-radius:10px;

}

input{
    margin:10px;
    padding:10px 20px;
    border:none;
    border-radius:5px;
}

button{
    padding:10px 20px;
    font-size:1.3rem;
}

.section{
    margin:50px;
    margin-left:100px;
    background-color: #000;
    padding:20px;
    width:15rem;
    height:18rem;

    display:flex;
    flex-direction: column;
    align-items:start;
    justify-content: start;
    gap:10px;
    border-radius: 10px;
}

.section p{
    color:#fff;
    margin:10px;
    font-size:1.1rem;
    letter-spacing: 1px;
}
#change-pass{
    font: size 0.9rem;
    margin:5px 10px;
    color:blue;
    text-decoration: underline;
    cursor:pointer;
}

span{
    color:red;
    letter-spacing: 1px;
}