@media (max-width: 1231px) {
    .nav-title{
        font-size:1.5rem; /*როცა 1231 პიქსელს ჩამოცდება , მაშინ სათაურის ფონტის ზომა შემცირდება და გახდება 1,5 rem */
    }
    .ul li{
        font-size:10px;  /* როცა 1231 პიექსელს ჩამოცდევა , მაშინ ლინკების ფონტის ზომა შემცირდეაბ და გახდება 10px */
        color:red;
    }
}