*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: black;

    height:100vh;
}

/* calculator section */
.calculatorSection{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    width:420px;
    height:535px;
    border-radius:6px;
    border:4px solid white;
    gap:0px;
}

/* numbers and operators div ( the main part) */
.numberVsOperators{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    display:grid;
    grid-template-columns: repeat(3,130px);
    margin-top:40px;
    gap:10px;
    
}

#result{
    margin-top:60px;
    font-size:30px;
    color:#fff;
}

button{
  width:130px;
  height:56px;
  border-radius:6px;
  color:#fff;
  background-color: rgb(4, 4, 90);
}

button:hover{
    cursor:pointer;
    background-color: rgb(140, 5, 5);
}

#equal{
    width:410px;
    margin-top:0px;;
}