@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&display=swap');
/* დავააიმპორტეთ ლინკი იმ ფრონტის რა ფორმისაც გვინდა რომ ჩვენი ნაწერი იყოს.(font-family-ის უნდა გადავცეთ ამ ფონტის სახელი) */
/* ხშირად გამოყენებადი ფონტი - Roboto */
h1{
    color:rgb(21, 0, 255);
    font-size: 250px ;
    /* ჰორიზონტალურად ამოძრავებს ელემენეტს(მარჯვნივ,შუაში,მარცხნივ) */
    text-align: center; 
    /* ტექსტის ფორმის შეცვლა */
    font-family:Dancing Script;

}
button{
    font-size:200px;
    background-color: rgb(248, 255, 36);
    border-radius: 20px;
}
/* 
ერთიდაიგივე სტილი თუ გვინდა მივანიჭოთ სხვადავსხვა ელემენტს,ისინი უნდა გამოვყოთ მძიმით */
/* ყველა h2-ს და p-ს ქვემოთ დაწერილი სტილი ექნებათ */
h2,p{  

    color:green;
    font-size: 80px;
    background-color: blue;
    
}

/* შვილი ელემენტს განსხვავებული სტილი რომ მივანიჭოთ: 1 - მშობელის სახელი 2- სფეისი 3 - შვილის სახელი
მაგ: აქ h4-ში ჩაშენებულ(შვილ) b ტეგს მიენიჭება წითელი ფერი */

h4 b{
    color:red;
}

/* id-ის საშუალებით თუ მინდა გასტილვა , არ უნდა დამავიწყდეს # */
#chocolate{
    color:brown;
}

/* თუ ერთიდაიგივე კლასი აქვს რამდენიმე ელემენტს და გინდა რომელიმე კონკრეტულის გასტილვა: 1 - წერ მშობელ ტეგს; 2 - წერტილი; 3 - კლასის სახელი  */
h6.same{
    color:blueviolet
}